@tailwind base;
@tailwind components;
@tailwind utilities;

div.swiper-button-prev,
div.swiper-button-next {
   color: #CD8A08;
}

html, body {
  max-width: 1440px;
  margin: 0 auto;
}

body {
  background-color: #1C1C1C;
}

.hero-bg {
  background-image: url('../assets/bg.webp');
  background-repeat: no-repeat;
  background-size: cover;
}

.blur-hero {
  background: linear-gradient(180deg, #0D0D0D 50%, #1C1C1C 100%);
  filter: blur(20px);
}

.bg-text {
  color: transparent;
  background-image: linear-gradient(90deg, #CD8A08 0%, #E1A93D 100%);
  background-clip: text;
}

.bg-goldGradient {
  background-image: linear-gradient(90deg, #CD8A08 0%, #E1A93D 100%);
}

.bg-sobremim {
  background-image: url('../assets/sobremim-gold-bg.webp');
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-cta {
  background-image: url('../assets/bg-cta.webp');
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-balanca {
  background-image: url('../assets/bg-balanca.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media (max-width: 1024px) {
  .bg-balanca {
    background-image: url('../assets/bg-balanca-mobile.webp');
  }
}

